{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <h1 style="text-align:center;" class="text-white-50 bg-dark">
        CONTACT DETAILS
    
    </h1>

    <p style="text-align:center;" >
        <pre class="text-white-50 bg-dark">
    
                ---------------------------------------------------------------------------------------------------------- 
                ----------------------------------------------------------------------------------------------------------
                ---------------------------------------------------------------------------------------------------------- 
                ---------------------------------------------------------------------------------------------------------- 
                ---------------------------------------------------------------------------------------------------------- 
                ---------------------------------------------------------------------------------------------------------- 
                ---------------------------------------------------------------------------------------------------------- 
                ---------------------------------------------------------------------------------------------------------- 
                ---------------------------------------------------------------------------------------------------------- 
                ---------------------------------------------------------------------------------------------------------- 
                ---------------------------------------------------------------------------------------------------------- 
                ---------------------------------------------------------------------------------------------------------- 
                ---------------------------------------------------------------------------------------------------------- 
                ---------------------------------------------------------------------------------------------------------- 
                ---------------------------------------------------------------------------------------------------------- 
                ---------------------------------------------------------------------------------------------------------- 
                ---------------------------------------------------------------------------------------------------------- 
                ---------------------------------------------------------------------------------------------------------- 
                ---------------------------------------------------------------------------------------------------------- 
                ---------------------------------------------------------------------------------------------------------- 
        </pre>
        
    </p>

{% endblock %}